In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from google.colab import files
import io  
from sklearn.ensemble import ExtraTreesClassifier
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestRegressor

In [ ]:
df = pd.read_csv('train.csv')

In [ ]:

print(df)

        ID   Age  ... Attrition  YearsAtCompany
0        1  44.0  ...         1              20
1        2  25.0  ...         0               6
2        3  57.0  ...         0               1
3        4  47.0  ...         0              17
4        5  22.0  ...         1               1
...    ...   ...  ...       ...             ...
1225  1226  29.0  ...         1               7
1226  1227  41.0  ...         0              20
1227  1228  36.0  ...         1               2
1228  1229  23.0  ...         0               3
1229  1230  31.0  ...         1              10

[1230 rows x 44 columns]

In [ ]:
a=df.iloc[:,2]
b=df.iloc[:,4]
c=df.iloc[:,6]
d=df.iloc[:,10]
e=df.iloc[:,12]
f=df.iloc[:,16]
g=df.iloc[:,17]
h=df.iloc[:,32]
le = preprocessing.LabelEncoder()
label1=le.fit_transform(a)
label2=le.fit_transform(b)
label3=le.fit_transform(c)
label4=le.fit_transform(d)
label5=le.fit_transform(e)
label6=le.fit_transform(f)
label7=le.fit_transform(g)
label8=le.fit_transform(h)
label9=df['Attrition']
label10=df['YearsAtCompany']

In [ ]:
df['Travel']=label1
df['Dept']=label2
df['Gend']=label3
df['Role']=label4
df['Status']=label5
df['Above18']=label6
df['Time']=label7
df['EducationFieldNew']=label8
del df['BusinessTravel']
del df['Department']
del df['Gender']
del df['JobRole']
del df['MaritalStatus']
del df['Over18']
del df['OverTime']
del df['EducationField']
del df['YearsAtCompany']
del df['Attrition']
df['Attrition']=label9
df['YearsAtCompany']=label10

In [ ]:
df=df.dropna()

In [ ]:
dfnew = pd.DataFrame() 
print(dfnew)

Empty DataFrame
Columns: []
Index: []

In [ ]:
dfnew['MonthlyIncome']=df['MonthlyIncome']
dfnew['Age']=df['Age']
dfnew['DistanceFromHome']=df['DistanceFromHome']
dfnew['TotalWorkingYears']=df['TotalWorkingYears']
dfnew['YearsInCurrentRole']=df['YearsInCurrentRole']
dfnew['EnvironmentSatisfaction']=df['EnvironmentSatisfaction']
dfnew['StockOptionLevel']=df['StockOptionLevel']
dfnew['PercentSalaryHike']=df['PercentSalaryHike']
dfnew['Attrition']=df['Attrition']

In [ ]:
dfnew

      MonthlyIncome   Age  ...  PercentSalaryHike  Attrition
0             10482  44.0  ...               14.0          1
1              4000  25.0  ...               12.0          0
2             14118  57.0  ...               12.0          0
3              8633  47.0  ...               23.0          0
4              2472  22.0  ...               23.0          1
...             ...   ...  ...                ...        ...
1225           3339  29.0  ...               13.0          1
1226          13570  41.0  ...               23.0          0
1227           6134  36.0  ...               13.0          1
1228           2819  23.0  ...               16.0          0
1229           5617  31.0  ...               11.0          1

[1213 rows x 9 columns]

In [ ]:
X = dfnew.iloc[:,0:8].values
y = dfnew.iloc[:,-1].values

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression(fit_intercept=True, normalize=False, copy_X=True, n_jobs=None)
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
df = pd.read_csv('test.csv')

In [ ]:
print(df)

      ID  Age  ... FormalWarnings  ProjectsContributed
0      1   27  ...              0                 14.0
1      2   26  ...              0                 30.0
2      3   50  ...              0                  3.0
3      4   41  ...              0                 11.0
4      5   28  ...              0                 10.0
..   ...  ...  ...            ...                  ...
235  236   59  ...              0                 16.0
236  237   37  ...              0                 13.0
237  238   37  ...              0                 10.0
238  239   44  ...              0                  7.0
239  240   28  ...              0                 28.0

[240 rows x 42 columns]

In [ ]:
a=df.iloc[:,2]
b=df.iloc[:,4]
c=df.iloc[:,6]
d=df.iloc[:,10]
e=df.iloc[:,12]
f=df.iloc[:,16]
g=df.iloc[:,17]
h=df.iloc[:,32]
le = preprocessing.LabelEncoder()
label1=le.fit_transform(a)
label2=le.fit_transform(b)
label3=le.fit_transform(c)
label4=le.fit_transform(d)
label5=le.fit_transform(e)
label6=le.fit_transform(f)
label7=le.fit_transform(g)
label8=le.fit_transform(h)

In [ ]:
df['Travel']=label1
df['Dept']=label2
df['Gend']=label3
df['Role']=label4
df['Status']=label5
df['Above18']=label6
df['Time']=label7
df['EducationFieldNew']=label8
del df['BusinessTravel']
del df['Department']
del df['Gender']
del df['JobRole']
del df['MaritalStatus']
del df['Over18']
del df['OverTime']
del df['EducationField']

In [ ]:
df=df.fillna(0)

In [ ]:
dfnew = pd.DataFrame() 
print(dfnew)

Empty DataFrame
Columns: []
Index: []

In [ ]:
dfnew['MonthlyIncome']=df['MonthlyIncome']
dfnew['Age']=df['Age']
dfnew['DistanceFromHome']=df['DistanceFromHome']
dfnew['TotalWorkingYears']=df['TotalWorkingYears']
dfnew['YearsInCurrentRole']=df['YearsInCurrentRole']
dfnew['EnvironmentSatisfaction']=df['EnvironmentSatisfaction']
dfnew['StockOptionLevel']=df['StockOptionLevel']
dfnew['PercentSalaryHike']=df['PercentSalaryHike']

In [ ]:
Xnew = dfnew.iloc[:,:].values
dfnew

     MonthlyIncome  Age  ...  StockOptionLevel  PercentSalaryHike
0             3468   27  ...               1.0                 12
1             4157   26  ...               1.0                 19
2             3690   50  ...               1.0                 15
3             5993   41  ...               0.0                 11
4             2713   28  ...               1.0                 11
..             ...  ...  ...               ...                ...
235           2670   59  ...               3.0                 20
236           7428   37  ...               0.0                 12
237           5163   37  ...               1.0                 14
238           2042   44  ...               1.0                 12
239           3441   28  ...               0.0                 13

[240 rows x 8 columns]

In [ ]:
pred = model.predict(Xnew)

In [ ]:
pred

array([ 2.69129451e-01,  2.62658895e-01,  1.07234135e-01,  1.99749271e-01,
        2.81612943e-01,  2.19706056e-01,  2.13046188e-01,  1.85191854e-01,
        1.22587248e-01,  2.89034781e-01,  1.98849959e-01,  1.47417306e-01,
        3.81164871e-01,  1.71972350e-01, -9.38701391e-02,  3.38860376e-01,
        1.84027245e-01,  2.33502809e-01,  2.51861855e-01,  2.66398271e-01,
        1.46332039e-01,  2.08889833e-01,  3.20143308e-01,  2.50295165e-01,
        2.07275378e-01,  2.87037189e-01,  2.20896998e-01,  2.60413209e-01,
        1.53470098e-01,  2.94006424e-01,  2.17218053e-01,  2.41325110e-01,
        1.47667380e-01,  1.80492973e-01,  2.53517542e-02,  2.15433691e-01,
        9.79419385e-02,  1.86565059e-01,  1.72211809e-01,  4.70877089e-02,
        1.34837710e-02,  1.04192303e-01,  1.41426838e-01, -9.25877611e-03,
       -5.01922468e-02,  2.14792314e-01,  2.08412377e-01,  1.04496243e-01,
        1.95160809e-01,  1.17813888e-01,  1.90757557e-01,  1.45547879e-01,
        9.38356850e-02,  2.45914035e-01,  7.28783100e-02,  3.56565917e-01,
        4.80229019e-02,  1.33051704e-01,  2.40539334e-01, -4.62236245e-02,
        2.91813767e-02,  9.38956146e-02,  8.48980009e-02, -7.32924130e-02,
        1.91562889e-02,  2.20935323e-01,  1.96597265e-01,  2.20923239e-02,
        6.37534308e-02,  8.81735855e-02,  5.21369366e-02,  3.47449923e-01,
       -1.45704015e-01,  1.97051387e-01,  1.82083679e-01,  1.18969332e-01,
        2.41464361e-01,  2.12691145e-01,  2.14043414e-01,  3.37651038e-01,
        1.47221898e-01,  2.95645195e-01,  1.92012176e-01,  7.35606626e-02,
       -6.32714026e-02,  1.25566370e-01,  1.43483478e-01,  1.90324534e-01,
        3.72891184e-02,  1.70923647e-03, -8.02702978e-02,  2.23131124e-01,
        2.99286145e-02,  2.51908785e-01,  6.81241030e-02,  2.23160505e-01,
        2.77927653e-01, -3.21159549e-02,  4.46351727e-01, -1.98059584e-02,
        1.94048478e-01,  2.09604215e-01,  2.22517980e-01,  1.28784300e-01,
        1.99697494e-01,  2.30386537e-01, -1.78952963e-01,  1.67864795e-01,
        2.08663488e-01, -1.06626990e-02,  2.11710162e-01,  1.72984361e-01,
        1.39630903e-02,  2.55536199e-01, -4.56393275e-03,  1.42587827e-01,
        7.14648952e-02,  1.50218437e-01,  1.88209289e-01,  1.15366440e-01,
        1.61768564e-01,  2.00491697e-01,  8.85702728e-02,  6.70682999e-02,
        9.83056452e-05,  2.32754336e-01,  1.13248658e-01,  1.44423607e-01,
        3.10703502e-01,  5.54171813e-02,  2.32721432e-01,  2.48790913e-01,
        1.63288468e-01,  1.06892045e-01,  1.77791195e-01,  2.07078298e-01,
        1.08107297e-01,  1.43284449e-01, -6.16040713e-03,  1.56748314e-01,
        1.65558268e-01,  1.45209388e-01,  2.55679116e-01,  2.66736870e-01,
        3.69552202e-02,  1.03544772e-01,  1.38431787e-01,  2.44825333e-01,
        2.18226041e-01,  1.18974566e-02,  1.57987654e-01,  7.83714762e-02,
        1.27218781e-01,  2.82298856e-01,  2.79105179e-01,  1.02077789e-01,
        2.91546009e-01,  1.42963942e-01,  2.79688660e-01,  2.08070964e-01,
        2.05193036e-01,  3.23828377e-01,  1.02519522e-01,  3.14898923e-01,
        6.88088339e-02,  1.91544047e-01, -2.06155201e-02,  9.76604512e-02,
        3.73542867e-01,  2.78263962e-01,  2.41605339e-01,  1.95103369e-01,
        1.18099415e-01,  2.39409746e-01,  1.10500023e-01,  1.42590715e-01,
        3.96773587e-02,  1.77139700e-01,  1.54649450e-01, -4.08989089e-02,
       -2.56173741e-04, -2.22271593e-02,  2.38247355e-01,  3.03249230e-01,
        1.17566455e-01,  1.88884306e-01,  2.14104503e-01,  2.93942167e-01,
        2.70488821e-01,  1.69949233e-01,  3.52254721e-01,  3.18385141e-02,
        3.42394285e-01,  2.85773093e-01,  4.96782187e-02,  3.03075433e-01,
        1.55022118e-01,  6.87487823e-02,  1.26166728e-01,  1.47741564e-01,
        1.40751341e-01,  3.30679357e-01,  1.97943827e-01,  1.21347806e-01,
        2.34282274e-02,  1.18015580e-01,  1.79902700e-01,  2.70231270e-01,
        1.04041139e-01,  2.35928211e-01,  1.62465374e-01,  1.88352614e-01,
        1.54088507e-01,  1.36106489e-01,  1.67110232e-01,  1.07336807e-01,
        1.66034601e-01,  1.46695932e-01,  2.47867202e-01,  1.37119485e-01,
        2.81578055e-01, -4.17696027e-02,  2.24282146e-01,  2.42023457e-01,
        1.34077238e-01,  1.99872262e-01,  5.52037737e-02,  2.07432617e-01,
        1.30694030e-01,  6.81906174e-02,  2.82192883e-02,  3.38800312e-01,
        1.75899202e-01,  2.57140889e-01,  9.71587537e-02, -1.39826530e-02,
        1.82386579e-01,  1.59894700e-01,  2.57367548e-01,  2.60913805e-01])

In [ ]:
df = pd.DataFrame(pred)
df.to_csv('myfile.csv')